.pm-header {
    position:absolute;
    top:0px;
}

.pm-titlebar {
    width:100vw !important;
    height:35px !important;
    background: gray;
    box-shadow: inset 0px 15px 15px -10px rgba(0, 0, 0, 0.5);
  }