body {
  margin: 0;
  font-family: 'Open Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden !important;
}
.p-component {
  font-family: 'Open Sans' !important;
  font-weight:300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root, button {
  font-family: 'Open Sans' !important;
}



